!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }    

    / Always force latest IE rendering engine (even in intranet) & Chrome Frame
    %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }

    / Comment in layout

    = stylesheet_link_tag "site.css"

    / include JS libs
    = javascript_include_tag "platform_helper.js"
    = javascript_include_tag "jquery-1.6.1.min.js"
    = javascript_include_tag "left-right-gallery.js"
    = javascript_include_tag "gallery-menu.js"
    = javascript_include_tag "application.js"
    = javascript_include_tag "function_util.js"
    = javascript_include_tag "jquery.pngFix.js"
    = javascript_include_tag "cufon-yui.js"
    = javascript_include_tag "HelveticaNeue.font.js"
    = javascript_include_tag "TwCenMT.font.js"

    :javascript
      Cufon.replace(".helvetica, .helvetica-bold", { fontFamily:"HelveticaNeue" });
      Cufon.replace(".tw-cen-mt, .tw-cen-mt-bold", { fontFamily:"TwCenMT", hover:'true' });

    = yield_content :head
    
  %body{ :class => page_classes }
    #frame
      :javascript
          $('#frame').addClass('js-enabled');
      #header.bucket
        .title
          %span.helvetica grant
          %span.helvetica-bold davis
          %span.helvetica-bold.ext INTERACTIVE
        .info.tw-cen-mt
          %a{ :href => "media/pdf/Grant-Davis.pdf", :target => "_blank"} resume
          %span ::
          = link_to "email", "mailto:grant.davis@gmail.com", :target => '_blank'
          %span ::
          = link_to "linkedIn", "http://www.linkedin.com/pub/grant-davis/5/156/638", :target => '_blank'
      #content
        = yield
      #footer.project_header
        © Copyright 2011 Grant Davis Interactive, LLC

      :javascript 
        <!-- To avoid delays, initialize Cufón before other scripts at the bottom -->
        Cufon.now();