.entry
  .project_header
    .bucket
      .project_title.tw-cen-mt.left
        = data.title.upcase
      - if data.link
        %a.big-blue-button.right{ :href => data.link.url, :alt => data.link.alt, :target => data.link.target }
          .tw-cen-mt-bold
            +
          .tw-cen-mt
            = data.link.label.upcase

  .left-right-gallery
    .image-container
      .gallery-images
        %ul
          - data.images.each do |image|
            %li
              %img{ :src => image }
    .gallery-controls
      .left-btn
        %a{ :href => '#previous-image' }
          %img{ :src => '/images/gallery-btn-left.png' }
      .right-btn
        %a{ :href => '#next-image' }
          %img{ :src => '/images/gallery-btn-right.png' }
  .bucket.text-center
    .gallery-menu
  .bucket
    .project-details
      .left-col.left
        %table
          %tr
            %th
              client
              %span.colon ::
            %td
              = data.client
          %tr
            %th
              agency
              %span.colon ::
            %td
              = data.agency
          %tr
            %th
              role
              %span.colon ::
            %td
              = data.role
          %tr
            %th
              tech
              %span.colon ::
            %td
              = data.tech
      .right-col.left
        %table
          %tr
            %th
              about
              %span.colon ::
            %td
              = data.details
  .clear